.branchList {
    display: flex;
    flex-direction: column;
}

.branchListMainContentArea {
    display: flex;
}

.branchCardsWrapper {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}