.popoverContainer{
    width: 100%;
    border-radius: 15px;
    padding: 15px 0 15px 0;
    background-color: var(--shinji);
    border: 1px solid var(--gendo-default);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.popoverItemArea {

    transition: all 0.1s ease-in;
    box-sizing: content-box;

    padding: 10px;
}

.popoverItemArea:hover{
    background-color: var(--ayanami-20);
}
